  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <% if (user) { %>
    <nav>
      <div id="logo">
        <span data-text="S">S</span>
        <span data-text="N">N</span>
        <span data-text="E">E</span>
        <span data-text="A">A</span>
        <span data-text="K">K</span>
        <span data-text="E">E</span>
        <span data-text="R">R</span>
        <span data-text="H">H</span>
        <span data-text="E">E</span>
        <span data-text="A">A</span>
        <span data-text="D">D</span>
        <span data-text="S">S</span>
      </div> 
      <a 
        href="/sneakers" class="right" id="<%= title === 'All Movies' ? 'active' : '' %>"
        >
          My Inventory
      </a>
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    </nav>
  <% } %>
    
