<%- include('./partials/html-head') %>
<% if (user) { %>
  <%- include('./partials/nav') %>
<% } %>

<main>
  <% if (user) { %>
    <h1>LANDING PAGE</h1>
    <h2>NEED TO UPDATE!</h2>
  <% } else { %>
    <div id="log-in">
      <h1>
        <span data-text="S">S</span>
        <span data-text="N">N</span>
        <span data-text="E">E</span>
        <span data-text="A">A</span>
        <span data-text="K">K</span>
        <span data-text="E">E</span>
        <span data-text="R">R</span>
        <span data-text="H">H</span>
        <span data-text="E">E</span>
        <span data-text="A">A</span>
        <span data-text="D">D</span>
        <span data-text="S">S</span>
      </h1>
      <h3>Keep track of your sneaker collection and connect with the community.</h3>
      <script defer src="https://accounts.google.com/gsi/client"></script>
      <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
    ></div>
    <div 
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="circle"
      data-logo_alignment="left"
    ></div>

    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
