<%- include('./partials/html-head') %>
<% if (user) { %>
  <%- include('./partials/nav') %>
<% } %>

  <% if (user) { %>
    <div class="flex-container"> 
      <div class="flex-top">
        <img class="flex-image-one" src="/assets/images/landing_page_images/brad-starkey-Bowrbqz1kgw-unsplash.jpg" alt="sneaker-model">
        <div class="flex-icon">
          <div class="icon-border">
            <div class="icon">S</div>
          </div>
          <div class="intro">
            Exclusive Sneaker Club
          </div>
        </div>
      </div>
      <div class="flex-bottom">
        <div class="flex-content">
          <div class="inventory">
            <img src="/assets/images/landing_page_images/sneaker-icon.png" alt="sneaker-icon">
            <h4>Inventory Management</h4>
            <p>Track & manage your collection</p>
          </div>
          <div class="community">
            <img src="/assets/images/landing_page_images/community-icon.png" alt="community-icon">
            <h4>Community</h4>
            <p>Connect with the sneaker culture</p>
          </div>
          <div class="marketplace">
            <img src="/assets/images/landing_page_images/marketplace-icon.png" alt="marketplace-icon">
            <h4>Marketplace</h4>
            <p>Buy・Sell・Trade</p>
          </div>
        </div>
        <img class="flex-image-two" src="/assets/images/landing_page_images/warren-jones-LFlVuWLjYEo-unsplash.jpg" alt="pile-of-sneakers">
      </div>
    </div>
  <% } else { %>
    <div id="log-in">
      <h1>
        <span data-text="S">S</span>
        <span data-text="N">N</span>
        <span data-text="E">E</span>
        <span data-text="A">A</span>
        <span data-text="K">K</span>
        <span data-text="E">E</span>
        <span data-text="R">R</span>
        <span data-text="H">H</span>
        <span data-text="E">E</span>
        <span data-text="A">A</span>
        <span data-text="D">D</span>
        <span data-text="S">S</span>
      </h1>
      <div id="google-login">
        <script defer src="https://accounts.google.com/gsi/client"></script>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
        ></div>
        <div 
          class="g_id_signin"
          data-type="icon"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="circle"
          data-logo_alignment="left"
        ></div>
      </div>
    </div>
  <% } %>

<%- include('./partials/footer') %>
