* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-add {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.shoebox-container {
  padding: 40px 5%;
}

ul {
  list-style: none;
}

.shoebox-gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 5px;
}

.shoebox-gallery > li {
  flex-basis: 350px;
  position: relative;
  cursor: pointer;
}

.shoebox-gallery li img {
  object-fit: cover;
  max-width: 50%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: center;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.579);
  top: 10%;
  left: 25%;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #424748;
}

#list a:visited{
  color: #424748;
}

#list a:hover {
  background-color: white;
}