body {
  background-image: url('/assets/images/bedroom_images/bedroom5.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-top: 20px;
}

.search-add {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.shoebox-container {
  padding: 40px 5%;
}

.shoebox-gallery {
  list-style: none;
  max-height: 750px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.shoebox-gallery img {
  max-width: 120px;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.shoebox-gallery a {
  background: rgba(255, 255, 255, 0.579);
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 16px;
  color: #424748;
}

#list a:visited{
  color: #424748;
}

#list a:hover {
  background-color: white;
}