body {
  background-image: url('/assets/images/show.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.parent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sneaker-show {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.show-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 625px;
  align-self: flex-start;
  justify-content: space-between;
}

.show-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#btn {
  padding: 8px 10px;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 1px solid #420000;
  transition: all 250ms;
  font-size: 14px;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: rgb(163, 2, 2);
  box-shadow: #420000 2px 2px 0 0;
}

#btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#btn:hover {
  background-color: rgb(95, 6, 6);
  color: white;
}


.show-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.card-img {
  max-height: 450px;
}

.card-img > img {
  object-fit: cover;
  min-width: 50%;
  max-height: 450px;
}

.card-content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 250px;
  max-height: 450px;
  align-content: flex-start;
}

.card-header {
  padding-bottom: 40px;
}

.content-brand {
  text-decoration: underline;
  padding-bottom: 2px;
  font-size: 18px;
}

.content-nicknameYear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nickname {
  font-weight: 450;
  font-size: 28px;
}

.year {
  bottom: 0;
}

.card-details {
margin-top: 10px;
}

.card-details > * {
  padding-bottom: 10px;
}

.for-sale {
  border: grey outset;
  margin-top: 25px;
  padding: 5px;
}

.sale-sheet {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 10px;
}

#add-sellsheet-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  padding: 5px 0 5px 0;
  gap: 10px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-count {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-form {
  display: flex;
  flex-direction: row;
}

.comment-form > textarea {
  width: 100%;
}

.comment-card-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 625px;
}

.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 50%;
  height: auto;
  border: rgb(82, 81, 81) solid 3px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  background-color: white;
}

.comment-card-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin: 0 0 0 0;
  padding-left: 10px;
  height: 50%;
}

.comment-author-avatar > img {
  border-radius: 50%;
}

.comment-card-content {
  width: 100%;
  padding-left: 10px;
}

.comment-buttons {
  padding: 0 0 0 10px;
}

.ad-space {
  height: 100vh;
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ga-logo {
  margin-top: 20px;
}

#game-ad {
  margin-top: 60px;
}

#ga-btn {
  background-color: rgb(247, 51, 51);
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.ad-body {
  text-align: center;
}