body {
  background-image: #9f9494;
}

.show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.show-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.show-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.card-img {
  padding-right: 20px;
  min-width: 50%;
  max-height: 450px;
}

.card-img > img {
  object-fit: cover;
  min-width: 50%;
  max-height: 450px;
}

.card-content {
  height: 100%;
}

.content-brand {
  text-decoration: underline;
}

.content-nicknameYear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nickname {
  font-weight: 500;
  font-size: 21px;
}

.year {
  bottom: 0;
}

.card-details {
margin-top: 10px;
}

.card-details > * {
  padding-bottom: 5px;
}

.sale-sheet {
  margin-top: 15px;
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

#add-sellsheet-form {
  margin-top: 15px;
  border: solid black 1px;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  gap: 10px;
}

.comment-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-count {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-form {
  display: flex;
  flex-direction: row;
}

.comment-form > textarea {
  width: 100%;
}

.comment-card-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.comment-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  height: auto;
  border: rgba(0, 0, 0, 0.537) solid;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

.comment-card-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: 0px;
}

.comment-author-avatar > img {
  border-radius: 50%;
}

.comment-card-content {
  width: 100%;
  padding-left: 10px;
}
