html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #a69c9c;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

nav > #logo {
  color: rgb(163, 2, 2);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

#log-in {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#log-in > h1 {
  font-family: 'Staatliches', Helvetica, Tahoma, sans-serif;
  font-size: 70px;
  margin:auto;
  color: rgb(163, 2, 2);
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
  transform-style: preserve-3d;
}

.welcome-page {
  display: flex;
  flex-grow: 1;
  margin: auto;
}

.welcome-page > #community {
  background-image: url('../assets/images/community.jpeg');
  
}

.welcome-page > #inventory {
  background-image: url('../assets/images/sneakers.jpeg');
}

.welcome-page > #marketplace {
  background-image: url('../assets/images/marketplace.jpeg');
}
