html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  color: black;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: white;
}

#desktop-menu {
  margin-left: auto;
}

#desktop-menu > a {
  padding-left: 30px;
  text-decoration: none;
  color: black;
}

#mobile-menu {
  visibility: hidden;
  display: none;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

nav > #logo {
  color: rgb(163, 2, 2);
}


#desktop-menu > a#active {
  text-decoration: underline overline #FF3028;
}

nav > a :hover {
  background-color: rgb(163, 2, 2);
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#log-in {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}

#google-login {
  margin-top: 100px;
}

#log-in > h1 {
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 70px;
  font-weight: 300;
  margin:auto;
  color: rgb(163, 2, 2);
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#style-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.comment-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.comment-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-top: 10px;
  gap: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flex-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flex-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icon-border {
  background-color: white;
  height: 80px;
  text-align: center;
  transform: rotate(45deg);
  width: 80px;
  margin-bottom: 20px;
  box-shadow: 0 0 50px 15px #a39f9f;
}

.icon {
  color: rgb(163, 2, 2);
  font-size: 60px;
  font-weight: 300;
  display: table-cell;
  height: 80px;
  transform: rotate(-45deg);
  vertical-align: middle;
  width: 80px;

}

.intro {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  font-size: large;
}

.flex-image-one {
  object-fit: cover;
  min-width: 50%;
  max-height: 450px;
}


.flex-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.flex-image-two {
  object-fit: cover;
  min-width: 50%;
  max-height: 450px;
}

.flex-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 40px;
  margin: 0 20px;
}

.inventory, .community, .marketplace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inventory > *, .community > *, .marketplace > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: text-top;
  text-align: center;
  height: 64px;
  margin: 0px;
}

#search {
  padding: 5px 5px;
}

#out-btn {
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid rgb(163, 2, 2);
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: rgb(163, 2, 2);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

#out-btn:hover {
  background-color: rgb(163, 2, 2);
  color: white;
}

h1 {
  font-weight: 500;
}


@media only screen and (max-width: 750px) {
  #log-in > h1 {
    font-size: 38px;
  }

  #mobile-menu {
    visibility: visible;
    display: flex;
    z-index: 2;
    margin-left: auto;
  }

  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: rgb(163, 2, 2);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  } 

  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  #out-btn {
    padding: 5px 20px;
    border: 3px solid white;
    border-radius: 5px;
    color: rgb(163, 2, 2);
    font-weight: 400;
  }

  .menu-bg, #menu {
    top: 0;
    right: 0;
    position: absolute;
  }

  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    background: radial-gradient(circle, rgba(163, 2, 2, 1), rgba(163, 2, 2, 0.664));
    border-radius: 70%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(18rem, -12rem);
  }

  #desktop-menu {
    visibility: hidden;
    display: none;
  }

  .flex-top, .flex-bottom {
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
  }

  .flex-image-one, .flex-image-two {
    object-fit: scale-down;
  }

  .flex-icon, .flex-content {
    height: 450px;
  }

}