body {
  color: black;
  background-image: url('/assets/images/joe-woods-4Zaq5xY5M_c-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.sneaker-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
}

.sneaker-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: 550;
  filter: drop-shadow(16px 16px 10px rgb(73, 73, 73));
}

#green {
  color: green;
}

.sneaker-card img {
  object-fit: cover;
  height: 150px;
  width: 200px;
}

@media only screen and (max-width: 750px) {
  .sneaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}