body {
  background-color: white;
  color: black;
}



.sneaker-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center; */
  
}

.sneaker-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
  background-color: white;
  
}

.sneaker-card img {
  object-fit: cover;
  height: 150px;
  width: 200px;
}

@media only screen and (max-width: 750px) {
  .sneaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}